body {background-color: #f1f0e2;}

h1 {
  /* Title Design */
    text-align: center;
    font-family: Luminari, Courier;
    color: #7C826B;
    font-size: 4rem;
    text-decoration: underline;
}

/* How To and Settings button design: */
.howto-button, .settings-button{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Courier, Times New Roman,Times, Serif;

  padding: 0.5rem;
  margin: 0px;
  cursor: pointer;
  text-transform: uppercase;

  color: #a36c54;
  background-color: #ebd1ae;
  border: 2px solid #7C826B;
  
}


.howto-popup, .settings-popup{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Courier, Times New Roman,Times, Serif;

  padding: 0.5rem;
  margin: 0px;
  cursor: pointer;
  text-transform: uppercase;

  color: #a36c54;
  background-color: #ebd1ae;
  border: 2px solid #7C826B;
  
}

/* Keyboard button display: */
   #keyboard {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #keyboard div {
    display: flex;
  }
  
  .row2 {
    margin: 0.3rem 0;
  }

/* Keyboard button design: */
  .keyboard-button {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Courier, Times New Roman,Times, Serif;

    padding: 0.5rem;
    margin: 0 3px;
    cursor: pointer;
    text-transform: uppercase;

    color: #7c826b;
    background-color: #ebd1ae;
    border: 2px solid #a36c54;
  }

/* Mouse hover over button color change: */
.howto-button:hover, .settings-button:hover, .keyboard-button:hover {
  background-color:#d9b88d;
  transition: 0.3s;
}

/* Mouse click outline: */
.howto-button:focus, .settings-button:focus, .keyboard-button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 2px #58a95f;
  transition: 0.3s;
}


.container {
  width: 100%;
  height: 100vh;
  background: #3c5077
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
    align-items: center;
}


